@charset "UTF-8";
/* CSS Document */

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;	
	}
	
@font-face
{
font-family: minion;
src: url(minionproregular.otf);
}

/* menu */

#bottombar {
	position:fixed;
	vert-align: bottom;
	width: 100%;
	height: 30px;
	bottom: 0px;
	font-family: minion;
	font-size: 15px;
	color:#333;
	z-index: 99;
	background-color:#CCC;
}

#title {
	position:absolute;
	width: 100px;
	height: 30px;
	max-width: 100px;
	left: 5px;
	top: 0px;
	font-family: minion;
	font-size: 25px;
	color: #FFF;
	margin: 0;
	padding: 0;
}

#menu {
	position:absolute;
	width: 900px;
	height: 50px;
	max-width: 900px;
	right: 30px;
	top: 30px;
	font-family: minion;
	font-size: 20px;
	color: #FFF;
	margin: 0;
	padding: 0;
}



/* liens */

a.menu:link {
	color:#FFF;
	text-decoration:none;
} 

a.menu:visited {
	color:#FFF;
	text-decoration:none;
}

a.menu:hover {
	color:#666;
	text-decoration:none;
}

a.menu:active {
	color:#000;
	text-decoration:none;
}

a.bottombarlnk:link {
	color:#000;
	text-decoration:none;
} 

a.bottombarlnk:visited {
	color:#000;
	text-decoration:none;
}

a.bottombarlnk:hover {
	color:#666;
	text-decoration:underline;
}

a.bottombarlnk:active {
	color:#000;
	text-decoration:none;
}

a.newslnk:link {
	color:#666;
	text-decoration:underline;
} 

a.newslnk:visited {
	color:#666
	text-decoration:underline;
}

a.newslnk:hover {
	color:#333;
	text-decoration:underline;
}

a.newslnk:active {
	color:#666
	text-decoration:underline;
}

/* contenu */

#content {
	position:absolute;
	max-width: 1000px;
	left: 15%;
	right: 30px;
	top: 120px;
}

#contentperfo {
	position:absolute;
	max-width: 900px;
	left: 15%;
	right: 30px;
	top: 105px;
	color:#666;
}

/* news, calendar, performance */
.titleperf {
	font-size: 15px;
	font-family: minion;
	color:#666
}

.news {
	left: 15px;
	right: 30px;
	font-family: minion;
	color:#666
}

.title{
	font-size:22px;
}

.titlecalendar{
	font-size:18px;
	width:350px;
}

.subtitle{
	font-size:20px
}

.datenews{
	font-size:15px;
	font-style:oblique;
	line-height: 25px;
	width: 180px;
}


.date{
	font-size:15px;
	font-style:oblique
}

.body{
	font-size:15px
}

.calendarline{
	vertical-align:top
}

.spacer{
	height:25px
}

/* collaborative structures */
.structure {
	left: 15px;
	right: 30px;
	font-family: minion;
	color:#666
}

.banner {
	height: 120px;
	width: 870px;
	background-color:#066
	}

.bigspacer{
	height:30px
}	

/* writings */


#publications, #texts {
	position:relative;
	margin: 0;
	padding: 0;
}

.text-sections {
	font-family: minion;
	font-size:24px;
	color:#666
}


.bodywritings{
	font-size:15px;
	line-height:25px;
}

.deco{
	color:#FC9;
}

/* bio */
#bio {
	position:absolute;
	right: 45px;
	left: 15%;
	top: 120px;
	font-family: minion;
	font-size: 20px;
	color:#000;
	margin: 0;
	padding: 0;
}
